<!DOCTYPE html>
<html>
<head>
	<title>LuxStay</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link data-n-head="true" rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>


