<% include template/header %>

<body>

	<% include template/navbar %>
	<div class="container-fluid px-0">
		<div class="jumbotron text-center">
			<h2 class="mb-4">Available Place</h2>
			<a class="btn btn-outline-dark" href="#"><b>Book now!</b></a>
		</div>
	</div>



	<!-- Bootstrap, jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!--  -->

</body>
</html>